doctype html
head
  link(rel="stylesheet" href="css/main.css")
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
  meta(http-equiv='x-ua-compatible', content='ie=edge')
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")

body.common-body.cart-page
  include ./parts/nav
  include ./parts/filterPanel
  
  h4#cart-total.cart-total-price
  #cart.cart.goods

script(src="js/main.js")
script(src="js/cart.js")