.filter-panel
  #btn-sort-price-to-up.filter-panel__sort-option.btn.blue sort to up 
  #btn-sort-price-to-down.filter-panel__sort-option.btn.blue sort to down 
  #btn-show-goods-available.filter-panel__sort-option.btn.blue в наличии
  #btn-reset-filters.filter-panel__sort-option.btn.green сбросить фильтры