#app.app
  h4#cart-total.cart-total-price
  include ../parts/filterPanel
  .goods-pagintation-wrapper
    button#goods-pagination-to-begin В начало
    #goods-pagination
    button#goods-pagination-to-end В конец
  #goods.goods

  .order-alert