#app.app
  .app__sort-panel
    #btn-sort-price-to-up.app__sort-option.btn.blue sort to up 
    #btn-sort-price-to-down.app__sort-option.btn.blue sort to down 
    #btn-show-goods-available.app__sort-option.btn.blue в наличии
    #btn-reset-filters.app__sort-option.btn.green сбросить фильтры
  #goods-pagination
  #goods.goods