.app {
  padding: 15px;
}

.filter-panel {
  margin-bottom: 15px;

  &__sort-option {
    margin-right: 10px;
  }
}
.goods-pagintation-wrapper {
  display: flex;
  justify-content: flex-start;
}

#goods-pagination {
  margin: 0 15px;
}

.cart-total-price span {
  background-color: #4ff02642;
  padding: 0 5px;
}

.order-alert {
  position: fixed;
  bottom: 20px;
  opacity: 0;
  visibility: hidden;
  left: 50%;
  transform: translate(-50%, 30%);
  color: white;
  padding: 15px;
  border-radius: 15px;
  background-color: rgba(black, 0.3);
  transition: 300ms all;

  &.--show {
    opacity: 1;
    transform: translate(-50%, 0);
    background-color: rgba(black, 0.6);
    visibility: visible;
  }
}

.nav.--fixed {
  position: fixed;
  width: 100%;
  top: 0;
}

.cart-page .filter-panel {
  display: none;
}

.page-btn {
  cursor: pointer;
}

.common-body {
  padding-top: 120px;
}

.goods {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}

.good {
  width: 48%;
  box-shadow: 0 0 2px 2px rgba(black, 0.05);
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;

  &__title {
    font-size: 22px;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 15px;
  }

  &__price {
    margin-top: auto;
    margin-bottom: 3px;
  }

  &__available {
    margin-top: 0;
  }

  &__buy-option.btn {
    font-size: 21px;
  }

  &__buy-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
  }

  &__quantity-in-cart {
    background-color: white;
    height: 36px;
    padding: 0 16px;
    line-height: 32px;
    font-size: 24px;
    font-weight: bold;
  }
}

.nav li {
  position: relative;
}

.nav .amount-in-cart {
  color: white;
  background-color: red;
  border-radius: 50%;
  width: 27px;
  height: 27px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -15%;
  line-height: 0;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    width: 11px;
  }
}